<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>Newsletter</title>
    
  </head>
  <body>
    <h2>welcome <%= @email %> signup foobar kabigan</h2>
  </body>
</html>
