<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <title>Special layout</title>
  
</head>
<body>

  <div id="container">
    <header>
      <%= render 'layouts/navigation' %>
      <%= render 'layouts/flash' %>
      <%= yield :sidebar %>
    </header>
    <main role="main">
      <%= yield %>
    </main>
    <footer>
    </footer>
  </div>
</body>
</html>
